@charset "UTF-8";

section#login{
    width: 65vw; 
}

section#login > div#foto{
    float: right;
    width: 40%;
    height: 100%;
    background-position: top center;
   
}

section#login > div#formulario{
    float: left;
    width: 60%; 
}

div#formulario > h1{
    text-align: center;
}

div#formulario > p{
    width: 90%;
    padding: 0vw 25vw 0vw 0vw;
}

label,input{
    margin: 15px;
    width: 55%;
    height: 40px;
}

input[type="submit"]{
    width: 50%;
   margin: auto;
}

a.botao{
    
    width: 50%;
    height: 40px;
    margin: 1vh 3.2vw 0vh 3.2vw;

}
