@charset "UTF-8";

/* PALETA DE CORES:
AZUL: #80D2F2
AZUL BEBÊ: #A7EBF2
LARANJA: #D97C2B
LARANJA-MARROM: #8C4014
*/

*:root{
    --cor1: #80D2F2;
    --cor2: #A7EBF2;
    --cor3: #D97C2B;
    --cor4: #8C4014;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main{
    position: relative;
    background-color:#80D2F2;
    height: 100vh;
    width: 100vw;

}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    height: 55vh;
    width: 50vw;
    border-radius: 15px;
    overflow: hidden;
    transform: translate(-50%, -50%);
    transition: width 0.5s, height 0.5s; /* aumentar altura e largura devagar de forma anima */
    transition-timing-function: ease; /* suavizar transição */
    
}

section#login > div#foto{
    display: block;
    background-image: url(imagens/edificio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;

}

section#login > div#formulario{
    display: block;
}

 h1 , p{
   text-align: justify;
   margin: 15px 15px;
}

label,input{
    display: inline;
    width: 70%;
    height: 30px;
}

label{
    margin: 0px 0px 10px 10px;
}
input{
    margin: 0px 0px 15px 0px;
}

input[type="submit"]{
    display: block;
    background-color: #D97C2B;
    color: white;
    width: 80%;
    margin: auto; 
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 5px 0px  rgba(0, 0, 0, 0.219);
    cursor: pointer;
}

a.botao{
    display: block;
    background-color: rgb(238, 238, 238);
    color: black;
    width: 80%;
    height: 30px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    box-shadow: 0px 5px 5px 0px  rgba(0, 0, 0, 0.096);
    
}
a.botao:hover, input[type="submit"]:hover{
  background-color: #8C4014;
  color: white;
    
}


